@import url('https://fonts.googleapis.com/css?family=Kosugi');

body{
    background-repeat: repeat;
    background-size:cover;                 /* 画像のサイズを指定    */
    width:100%;                              /* 横幅のサイズを指定    */
    height:400px;
    background-image: url("https://media.istockphoto.com/id/1251353875/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/%E9%9B%A8%E3%81%AF%E8%83%8C%E6%99%AF%E3%82%92%E8%90%BD%E3%81%A8%E3%81%99.jpg?s=612x612&w=0&k=20&c=Ilvv656xHWY7eTOltzowk3Lb3RxAzmPS9v_i8q37nFQ=")
}

.topImage {
    width: 100vw;
    height: auto;
    text-align: center;
    color: white;
    font-size: 150%;
    background: url("http://localhost:3000/image/topImage_kari.jpg");
    margin: 0px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.firstMessage {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: 'Kosugi', sans-serif;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.leftContent {
    width:50%;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.leftContent img {
    width:100%;
}

.rightContent {
    width:50%;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rightContent img {
    width:100%;
}

.categoryButton{
    width:20%;

}


